/.BurstDescriptionLabelProvider.java._trace
/.BurstDescriptionLabelProvider.xtendbin
/.BurstLabelProvider.java._trace
/.BurstLabelProvider.xtendbin
/BurstDescriptionLabelProvider.java
/BurstLabelProvider.java
