<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/burst/Burst"
			class = "org.xtext.burst.burst.BurstPackage"
			genModel = "model/generated/Burst.genmodel" />
	</extension>
</plugin>
